footer 
    div.toplinks 
        img.logo(src=baseURL+"static/img/mesh-festival.png")
        ul 
            each val in footer[0].Top_Links
                li
                    a.mediumpill(href=baseURL+val.URL+'/'+language[0])= val.Title
    div.left
        div.smicons
            img(src=baseURL+"static/img/icons/sm-icon-01.svg")
            img(src=baseURL+"static/img/icons/sm-icon-02.svg")
            img(src=baseURL+"static/img/icons/sm-icon-03.svg")
        div 
            ul 
                each val in footer[0].Second_Links
                    li
                        a.mediumpill(href=baseURL+val.URL+'/'+language[0])= val.Title

        div 
            ul 
                each val in footer[0].Small_Links
                    li
                        a(href=baseURL+val.URL+'/'+language[0])= val.Title

    div.adresse 
        p !{footer[0].Adress}
        
    div.middle
        div
            p !{footer[0].Title_Logo_Line_1}

        div 
            p !{footer[0].Title_Logo_Line_2}

