html 
    include includes/head.pug
    body.page
        include includes/navigation.pug

        main
            img.mainimage(src=imgURL+data.Main_Image.filename_disk ? Main_Image.filename_disk : 'none.jpg')
            .content !{data.translations[languageParameter].Content}

        script.
            data = !{JSON.stringify(data).replace(/<\//g, "<\\/")};
            console.log('data object', data);
            navigation = !{JSON.stringify(navigation).replace(/<\//g, "<\\/")};
            console.log('navigation object', navigation);
            footer = !{JSON.stringify(footer).replace(/<\//g, "<\\/")};
            console.log('footer object', footer);
            language = !{JSON.stringify(language).replace(/<\//g, "<\\/")};
            console.log('language object', language);
            
        include includes/footer.pug
